<h1>Hey, I'm Justin</h1>
<h2>I'm a full-stack web development student at General Assembly with 2 years of experience in Digital Advertising</h2>

<p>I'm a person who enjoys working out solutions to problems. When I was working in digital advertising, I helped streamline the reporting &amp; finance systems by automating the bulk of the processes. I also created data visualisations to help clients understand the results of our optimisations.</p>

<p>I realised I didn't feel rewarded by the everyday challenges of advertising and I began teaching myself programming. I immediately found I enjoyed dealing with the logical aspects of programming. I'm interested in exploring new technologies because I think learning new concepts help us better understand the things we're already familiar with. I'm currently dipping my feet into the wacky world of functional programming*.</p>

<p>I'm currently looking for a full-stack role in an organisation that's working towards improving social equality and reducing our environmental footprint.</p>

<p>*wacky - for a programmer who's only dealt with imperative programming</p>
