<h1>About in progress</h1>

<h2>Things I spend time on</h2>
<ul>
  <li>Coding</li>
  <li>Climbing</li>
  <li>Gymnastics</li>
</ul>

<h2>Things I'd like to devote more time to</h2>
<ul>
  <li>Piano</li>
  <li>Poker (I wish they hadn't banned online poker in Australia)</li>
  <li>Chess</li>
  <li>Learning languages</li>
</ul>
