<h1>Hi, I'm Justin</h1>
<p>I'm a full-stack web developer with 2 years of experience in digital advertising.</p>

<p>My current toolset includes <span class="technologies">Ruby & Ruby on Rails, Javascript/Jquery, HTML & CSS</span> and I've been exposed to Python, React, Elm, Node & Express.</p>

<p>I'm a person who enjoys working out solutions to problems. When I was working in digital advertising, I helped streamline the reporting &amp; finance systems by automating the workflows. I also created data visualisations to help clients understand the results of our optimisations.</p>

<p>I began teaching myself programming to customize the automation process and immediately enjoyed the logical aspect of programming. I'm interested in exploring new technologies because I think learning new concepts help us better understand the things we're already familiar with.</p>

<p>Take a look at some of the <%= link_to 'projects', portfolio_path %> I've worked on.</p>

<p>I'm currently looking for a full-stack role in an organisation that's working solving interesting problems.</p>
