<h1>Contact me</h1>

<section>
  <p>Email:</p>
  <figure>
    <i class="fa fa-envelope"></i>
    <%= mail_to 'justinsgan@gmail.com' %>
  </figure>
  <p>LinkedIn:</p>
  <figure>
    <i class="fa fa-linkedin"></i>
    <%= link_to 'https://www.linkedin.com/in/justinsgan/' %>
  </figure>
  <p>Github:</p>
  <figure>
    <i class="fa fa-github"></i>
    <%= link_to 'https://www.github.com/jgan91/' %>
  </figure>
</section>
