<h1>Hi, I'm Justin.</h1>
<p>I'm a Sydney-based, junior web developer looking for an opportunity in both
  <strong>
    front-end and back-end development.
  </strong>
</p>

<div class="home-buttons">
  <%= link_to 'Projects', portfolio_path, class: 'button button-outline button-white' %>
  <%= link_to 'My Skills & Offer', skills_path, class: 'button button-outline' %>
</div>
